@import url('https://fonts.googleapis.com/css2?family=Figtree&family=Montserrat:wght@400;500;600;700&family=Open+Sans&display=swap');

/* GLOBAL STYLING AND COMMON STYLES*/
*{
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --cr-1: #000;
    --cr-2: #656565;
    --cr-3: #FFF;
    --cr-4: #909090;
    --cr-5: #1F2017;
    --cr-6: #B3B3B3;
    --cr-7: #A4A4A4;
    --orng-clr: #FE8453;
    --orng-clr-hover: #FE4901;
    --input-placeholder-clr: #818181;

    --bgr-1: #FFF;
    --bgr-2: #FFFDF5;
    --bgr-3: #F5F4F2;
    --bgr-4: #F0FAFF;
    --bgr-5: #FAFAFA;
    --bgr-6: #F1FAFF;
    --bgr-7: #F5F2E2;
    --bgr-8: #000;

    --fnt-siz-1: 2.5rem;
    --fnt-siz-2: 1rem;
    --fnt-siz-3: 0.9375rem;
    --fnt-siz-4: 0.875rem;
    --fnt-siz-5: 2.375rem;
    --fnt-siz-6: 1.25rem;
    --fnt-siz-7: 2rem;
    --fnt-siz-8: 0.777rem;
    --fnt-siz-9: 1.554rem;
    --fnt-siz-10: 1.036rem;
    --fnt-siz-11: 1.375rem;
    --fnt-siz-12: 1.4375rem;

    --fnt-wt-1: 400;
    --fnt-wt-2: 500;
    --fnt-wt-3: 600;
    --fnt-wt-4: 700;

    --fnt-stl-normal: normal;

    --line-ht-normal: normal;
    --line-ht-150-prcnt: 1.5;
    --line-ht-131-prcnt: 1.3125;
    --line-ht-185-prcnt: 1.85714;

    --text-align-center: center;
    --text-align-left: left;

    --cursor-pointer: pointer;
    --border-none: none;

    --list-none: none;

    --box-shadow-1: 0px 22px 47px 0px #DEE9EE;

    --border-radius-1: 0.9375rem;
    --border-radius-2: 0.971rem;
    --border-radius-3: 3.0625rem;
    --border-radius-4: 0.75rem;
    --border-radius-5: 3.875rem;
    --border-radius-50-cnt: 50%;

    --stn-padding-top: 3.5rem;
    --stn-padding-bott: 3.5rem;
    --stn-padding-left: 10rem;
    --stn-padding-right: 10rem;


    --justify-content-space-around: 
    --justify-content-space-evenly:
  }

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-common-css {
    font-family: Montserrat;
    padding: 1rem 2rem;
    border-radius: var(--border-radius-3);
    color: var(--cr-3);
    text-align: var(--text-align-center);
    font-size: var(--fnt-siz-3);
    background-color: var(--orng-clr);
    font-style: var(--fnt-siz-9);
    font-weight: var(--fnt-wt-3);
    line-height: var(--line-ht-normal);
    border: var(--border-none);
    cursor: var(--cursor-pointer);
}

.button-common-css:hover {
    background-color: var(--orng-clr-hover);
}

a {
    text-decoration: none;
    color: var(--cr-1);
}

.stn-stl {
    /* border: 1px solid blue; */
    padding: var(--stn-padding-top) var(--stn-padding-right) var(--stn-padding-bott) var(--stn-padding-left);
    max-width: 1920px;
}
@media only screen and (max-width: 1440px) {
    .stn-stl {
        padding: 3.5rem;
    }
}
@media only screen and (max-width: 900px) {
    .stn-stl {
        padding: 3.5rem 0.5rem;
    }
}
.stn-cntnt-wrapper {
    width: 95%;
    /* border: 2px solid blue; */
}

.stn-h-stl {
    color: var(--cr-1);
    text-align: var(--text-align-center);
    font-family: Montserrat;
    font-size: var(--fnt-siz-1);
    font-weight: var(--fnt-wt-3);
    line-height: var(--line-ht-normal);
    font-style: var(--fnt-stl-normal);
}
.stn-sh-stl {
    color: var(--cr-1);
    text-align: var(--text-align-center);
    font-family: Montserrat;
    font-size: var(--fnt-siz-2);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-1);
    line-height: var(--line-ht-normal);
}

.pro-ttl-stl {
    color: var(--cr-1);
    font-size: var(--fnt-siz-3);
    font-style: normal;
    font-weight: var(--fnt-wt-3);
    line-height: normal;
}
.pro-typ-stl {
    color: var(--cr-2);
    font-family: Montserrat;
    font-size: var(--fnt-siz-4);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-2);
    line-height: var(--line-ht-normal);
}
.pro-size-stl {
    color: var(--cr-2);
    font-family: Montserrat;
    font-size: var(--fnt-siz-4);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-2);
    line-height: var(--line-ht-normal);

    margin: 0.12rem auto;
}
.pro-price-stl {
    color: var(--cr-1);
    font-family: Montserrat;
    font-size: var(--fnt-siz-4);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-2);
    line-height: var(--line-ht-normal);
}

.sas-fig-caption-1-stl {
    color: var(--cr-3);
    font-family: Montserrat;
    font-size: 1.29463rem;
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-3);
    line-height: var(--line-ht-normal);
}
.sas-fig-caption-2-stl {
    color: var(--cr-3);
    font-family: Montserrat;
    font-size: 1.03569rem;
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-4);
    line-height: var(--line-ht-normal);
}

.apr-price-range-stl {
    color: var(--cr-2);
    font-family: Montserrat;
    font-size: var(--fnt-siz-4);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-1);
    line-height: var(--line-ht-normal);
}
.apr-price-rupee-stl {
    color: var(--cr-1);
    font-family: Montserrat;
    font-size: var(--fnt-siz-11);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-3);
    line-height: var(--line-ht-normal);
}

.meet-fig-gf-stl {
    background-color: var(--bgr-1);
    border-radius: var(--border-radius-50-cnt);
    margin-bottom: 1.19rem;
    width: 2.75rem;
    padding: 0.3rem;
    cursor: var(--cursor-pointer);
}
.meet-fig-caption-stl {
    color: var(--cr-3);
    font-family: Montserrat;
    font-size: var(--fnt-siz-11);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-3);
    line-height: var(--line-ht-normal);
}

.gi-fig-caption-stl {
    color: var(--cr-3);
    font-family: Figtree;   
    font-size: var(--fnt-siz-11);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-4);
    line-height: var(--line-ht-normal);

    margin-bottom: 1rem;
}
.gi-fig-caption-pieces-stl {
    color: var(--cr-3);
    font-family: Figtree;
    font-size: var(--fnt-siz-10);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-1);
    line-height: var(--line-ht-normal);
}
.gi-fig-caption-top-left-stl {
    color: var(--cr-1);
    text-align: var(--text-align-center);
    font-family: Figtree;
    font-size: var(--fnt-siz-8);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-1);
    line-height: var(--line-ht-normal);

    background-color: var(--bgr-1);
    padding: .3rem 1.5rem .5rem .5rem;
}


.why-shop-h {
    color: var(--cr-1);
    font-family: Montserrat;
    font-size: var(--fnt-siz-6);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-3);
    line-height: var(--line-ht-normal);
}
.why-shop-sh {
    color: var(--cr-1);
    font-family: Montserrat;
    font-size: var(--fnt-siz-4);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-1);
    line-height: var(--line-ht-normal);
}

.cia-para {
    color: var(--cr-1);
    font-family: Montserrat;
    font-size: var(--fnt-siz-2);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-1);
    line-height: var(--line-ht-normal);
}
.cia-p-2 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

/* **************************************************************************************** */





/* CSS STYLING For Home-Page Artwork Trending Now Section & Curator's fresh pick of the week Section*/
/* -------------------------------------------------------------------------------------------------*/
.artwork-tending-now-1 {
    background-color: var(--bgr-1);
}
.artwork-tending-now-2 {
    background-color: var(--bgr-2);
}
.artwork-tending-now-heading-only {
    font-weight: var(--fnt-wt-4);
}
.wrapper-image-cards {
    /* border: 2px solid tomato; */
    padding: 1.5rem 0;

    max-width: 1920px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1.5fr 1fr;
    row-gap: 70px;
    column-gap: 30px;
}
.single-image-box {
    /* border: 1px solid rgb(232, 218, 218); */
    display: grid;
    gap: 5px;
    width: auto;
    padding: 0.25rem;
}
.single-image-box-image-wrapper > img {
    height: fit-content;
    height: 200px;
    border: 4px solid black;
    padding: 3px;
    cursor: var(--cursor-pointer);
}
.single-image-box-text-box {
    margin-left: 0;
    width: 100%;
}
.image-details-text-box {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
}
.image-details-text-box > h3 {
    margin-left: 0;
    width: 100%;
    height: 1.2rem;
    overflow: hidden;
}
.image-details-text-box-whislist-box{
    margin-right: 0;
    cursor: var(--cursor-pointer);
}



@media only screen and (max-width: 1000px) {
    .artwork-tending-now-1 {
        padding-left: 0;
        padding-right: 0;
    }
    .wrapper-image-cards {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        gap: 0px;
    }
    .single-image-box {
        border: 1px solid rgb(224, 212, 212);
        height: 350px;
        width: 100%;
        display: grid;
        grid-template-rows: 70% 30%;
        padding: 20px;
    }
    /* .artwork-tending-now-1 {
        padding-bottom: 0;
    } */
    .image-details-text-box {
        width: 100%;
    }
    .single-image-box-text-box {
        width: 100%;
        position: relative;
    }
    .image-details-text-box-whislist-box {
        position: absolute;
        bottom: -10px;
        right: 0px;
    }
    .single-image-box-image-wrapper img {
        height: auto;
    }
}
@media only screen and (max-width: 800px) {
    .wrapper-image-cards {
        grid-template-columns: 33% 33% 33%;
    }
}
@media only screen and (max-width: 600px) {
    .wrapper-image-cards {
        grid-template-columns: 50% 50%;
    }
}
@media only screen and (max-width: 350px) {
    .wrapper-image-cards {
        grid-template-columns: 100%;
    }
}
